@use '../../../../../styles' as *;

:host {
    position: fixed;
    top: 73px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 73px);
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;
}

.menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary-100;
    animation: slideInFromTop 0.3s ease-out;
    pointer-events: auto;

    &.closing {
        animation: slideOutToTop 0.3s ease-in;
    }
}

.menu-container {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
    pointer-events: auto;
    z-index: 1;
    opacity: 1;
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOutToTop {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

