:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1001;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    width: 100%;
    gap: 16px;
}