@use '../../../styles' as *;

:host {
    display: flex;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.header .tab-group {
    display: flex;
    flex-direction: row;
    gap: 1px;
    background-color: $primary-20;
    box-shadow: 0 0 0 1px $primary-20;
    border-radius: 8px;
    overflow: hidden;
}

