@if (type === 'row' || type === 'static') {
    <div [ngClass]="{'horizontal': type === 'row', 'static': type === 'static'}">
        <h4 class="fill">
            <ng-content select=".header-text"></ng-content>
        </h4>
        @if (altValue) { <p>{{altValue}}</p> }
        <app-icon *ngIf="iconName" [name]="iconName"></app-icon>
    </div>
}
@else {
    <div class="vertical">
        @if (type === 'column') {
            <div class="flex-row">
                <h4>
                    <ng-content select=".header-text"></ng-content>
                </h4>
                <app-icon *ngIf="iconName" [name]="iconName"></app-icon>
            </div>
        }
        @else if (type === 'icon') {
            <app-icon *ngIf="iconName" [name]="iconName"></app-icon>
        }
    </div>
}
