@if (type === 'row' || type === 'static') {
  <div class="fill" [ngClass]="{'horizontal': type === 'row', 'static': type === 'static'}">
    <h4 class="fill">
      {{mainValue}}
    </h4>
    @if (altValue) { <p>{{altValue}}</p> }
    @if (iconName && type === 'row') {
      <app-icon [name]="iconName"></app-icon>
    }
  </div>
}
@else if (type === 'column') {
<div class="vertical">
  <div class="flex-row justify-center">
    <h4>{{mainValue}}</h4>
    @if (iconName) { <app-icon [name]="iconName"></app-icon> }
  </div>
  @if (altValue) { <p class="medium">{{altValue}}</p> }
</div>
}
@else {
<div class="icon" (click)="toggleIcon()">
  @if (iconVisible) {
    <app-icon [name]="iconName" class="icon-toggle"></app-icon>
  }
</div>
}