@use 'variables' as *;

.primary-100 {
    color: $primary-100;
}

.primary-50 {
    color: $primary-50;
}

.primary-20 {
    color: $primary-20;
}

.primary-10 {
    color: $primary-10;
}

.accent-100 {
    color: $accent-100;
}

.accent-50 {
    color: $accent-50;
}

.accent-20 {
    color: $accent-20;
}

.accent-10 {
    color: $accent-10;
}

.accent-dark {
    color: $accent-dark;
}

.secondary-100 {
    color: $secondary-100;
}

.secondary-50 {
    color: $secondary-50;
}

.secondary-20 {
    color: $secondary-20;
}

.secondary-10 {
    color: $secondary-10;
}