* {
    font-family: 'GT Pressura Light', system-ui, -apple-system, sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.25s ease;
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

