// Colors
$primary-100: rgba(36, 35, 33, 1.00);
$primary-50: rgba(36, 35, 33, 0.50);
$primary-30: rgba(36, 35, 33, 0.30);
$primary-20: rgba(36, 35, 33, 0.20);
$primary-10: rgba(36, 35, 33, 0.10);
$primary-05: rgba(36, 35, 33, 0.05);

$secondary-100: rgba(255, 255, 255, 1.00);
$secondary-50: rgba(255, 255, 255, 0.50);
$secondary-20: rgba(255, 255, 255, 0.20);
$secondary-10: rgba(255, 255, 255, 0.10);

$accent-100: rgba(246, 0, 0, 1.00);
$accent-50: rgba(246, 0, 0, 0.50);
$accent-30: rgba(246, 0, 0, 0.30);
$accent-20: rgba(246, 0, 0, 0.20);
$accent-10: rgba(246, 0, 0, 0.10);
$accent-dark: rgba(122, 0, 0, 1.00);

