@use '../../../../styles' as *;

.chip {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 6px;
    // width: 100%;
}

.chip-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
}

.chip-header-text {
    color: $primary-50;
}

.chip-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

// Optional right-side cap divider, add class "cap" on the root .chip
.chip.cap {
    box-shadow: inset -1px 0 0 0 $primary-20;
}

