@use '../../../../styles' as *;

.chip {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;
    // width: 100%;
}

.chip-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.chip-header-text {
    color: $primary-50;
}

.chip-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tag {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: $primary-05;

    p {
        text-wrap: nowrap;
    }
}
