.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 25px;
    padding-bottom: 75px;
    gap: 8px;
}