@use '../../../../styles' as *;

.spinner {
  border: 3px solid $primary-10;
  border-top-color: $accent-100;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;

  &.small {
    width: 24px;
    height: 24px;
    border-width: 2px;
  }

  &.medium {
    width: 48px;
    height: 48px;
    border-width: 3px;
  }

  &.large {
    width: 64px;
    height: 64px;
    border-width: 4px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
